main {
	width: 100% !important;
	margin-bottom: 5em;
}

.header_img, nav li {
    display: inline-block;
}

nav li {
    margin-top: 1em;
}

.header_img {
    float: left;
}
.middle {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
}

.error {
    width: 100%;
    margin-top: 1em;
    color: white;
    background-color: #0066CC;
    margin-bottom: 1em;
}

.middle .message {
    margin-bottom: 1em;
}

nav {
	background-color: #0066cc;
	color: #fff;
}

.col-sm-3 {
	text-align: center;
}

nav li a {
	color: #fff;
}

.top_row {
	background-color: #1767A6;
}

body {
	width: 100%;
}

@media only screen and (max-width: 799px) {
	.image-container {
		width: 100%;
		text-align: center;
	}
	
	nav {
		width: 100%;
	}
	
	.white {
		color: white;
		background-color: white;
	}
	
	header {
		width: 100%;
	}
	
	.header-img {
		display: none;
	}
	
	.no_mobile {
		display: none;
	}
	
	.navbar-toggle {
		color: #fff;
	}
	
	.quick-link {
		margin-top: 2em;
	}
	
}

@media only screen and (min-width: 800px) {
	.nav li {
		float: right !important;
	}
	.image-container {
		margin-left: 1em;
		float: left;
	}

	.header-img img {
		width: 30%;
		height: auto;
	}
	
	.mobile_nav {
		color: #0066cc;
	}
	
	.mobile {
		display: none;
	}
	
	
}



.dropdown-menu {
	background-color: #f2f2f2;
}

.dropdown-menu li a {
	color: #0066cc;
}

.box {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2em;
	border: 1px solid grey;
	background-color: #0066cc;
	color: #f2f2f2;
	height: 230px;
}

.box img {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#helpdesk {
	width: 45%;
}

.box h4 {
	margin-top: 1em;
}

.main_row {
	margin-top: 3em;
}

.tile {
	width: 100%;
	display: inline-block;
	margin: 0.3em;
	color: #000;
	border-radius: 10px;
	height: 150px;
	padding: .1em;
}

.flowchart {
    margin-top: 2em;
}

.flow_header {
    color: #f2f2f2;
    background-color: #7EB6FF;
    width: 100%;
    border-radius: 10px;
}

.tile {
    position: relative;
}

.check {
    position: absolute;
    bottom: 10px;
    margin-left: 15%;
}

.flow_btn {
    margin-top: 5em;
}

.error_highlight {
    border: 2px solid red !important;
}

.hidden {
    display: none;
}

.err, .email_err {
    font-size: 16px;
    color: red;
}

form input, form select {
    margin-bottom: 1em;
}

form {
    margin-top: 2em;
}


.course_input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.intake_row label, .intake_row input {
    display: block;
}

.checkbox {
    margin-right: .5em !important;
    transform: scale(1.5);
}

.intake_row {
    margin-top: .5em;
    margin-bottom: 2em;
    font-size: 18px;
    border-bottom: 1px solid #d2d2d2;
}

.checkbox, .for_checkbox {
    display: inline-block !important;
}

.for_checkbox {
    margin-right: 2em;
    width: 20em;
}

#submit_complete {
    margin-top: 1em;
}

.form-heading {
    margin-bottom: 1em;
}

.header_img {
    width: 20%;
    margin-left: 1em;
    background-color: inherit;
}

.header_img img {
    width: 50%;
}

.landing_img img {
    width: 100%;
}

.main-tile {
    width: 15%;
    margin-left: 2em;;
    margin-right: 2em;
    border-radius: 10px;
    border: 3px solid #0066cc;
    text-align: center;
    padding: 1em;
    display: inline-block;
}

.main-tile h4 {
    margin-bottom: 1em;
}

.main-tile img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.tile_row {
    width: 100%;
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

.stickynav{
    width: 100%;
    padding:5px 0;
    font-family:sans-serif;
    text-align:center;
}

#footer {
    background-color: #0066cc;
    color: #fff;
}

.ltu_image img {
    width: 90%;
    margin-top: 1em;
}

.form-container {
    margin-bottom: 4em;
}

.sign-up-link {
    margin-top: 1em;
    font-size: 14px;
}

#flowchart_form {
    margin-top: 3em;
}

.tile {
    text-align: center;
}

.c_title {
    margin-bottom: 1em;
}

.red {
    background-color: #ff9999;
	border: 1px solid #ff3232;
}

.yellow {
	background-color: #ffffcc;
	border: 1px solid #ffff32;
}

.blue {
	background-color: #A7C1D4;
	border: 1px solid #5198CC;
}

.green {
	background-color: #C5E3BF;
	border: 1px solid #55AE3A;
}

.tile_anchor {
    text-decoration: none;
    color: #000;
}

.tile_anchor:hover p, .tile_anchor:hover {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

#student_select {
    width: 45%;
   /* margin-left: auto;
    margin-right: auto; */
}

#student_info {
    padding-top: 1em;
}

.student_form {
    margin-left: 4em;
}

.inner_nav li {
    float: left !important;
}

.admin_view {
    margin-top: 2em;
}

.course_list {
    margin-left: auto;
    margin-right: auto;
}

.inner_nav li.active {
    background-color: #0066cc;
}

.inner_nav li.active > a {
    color: #fff !important;
}

.admin_input {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
    background-color: inherit;
}

.check, .left {
    width: 20%;
}

.mid {
    width: 25%;
}

.right {
    width: 25%;
    text-align: right;
}

