main {
	width: 100% !important;
}

.middle {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
}

.error {
    width: 100%;
    margin-top: 1em;
    color: white;
    background-color: #0066CC;
    margin-bottom: 1em;
}

.middle .message {
    margin-bottom: 1em;
}

nav {
	background-color: #0066cc;
	color: #fff;
}

.col-sm-3 {
	text-align: center;
}

nav li a {
	color: #fff;
}

.top_row {
	background-color: #1767A6;
}

body {
	width: 100%;
}

@media only screen and (max-width: 799px) {
	.image-container {
		width: 100%;
		text-align: center;
	}
	
	nav {
		width: 100%;
	}
	
	.white {
		color: white;
		background-color: white;
	}
	
	header {
		width: 100%;
	}
	
	.header-img {
		display: none;
	}
	
	.no_mobile {
		display: none;
	}
	
	.navbar-toggle {
		color: #fff;
	}
	
	.quick-link {
		margin-top: 2em;
	}
	
}

@media only screen and (min-width: 800px) {
	.nav li {
		float: right !important;
	}
	.image-container {
		margin-left: 1em;
		float: left;
	}

	.header-img img {
		width: 30%;
		height: auto;
	}
	
	.mobile_nav {
		color: #0066cc;
	}
	
	.mobile {
		display: none;
	}
	
	
}



.dropdown-menu {
	background-color: #f2f2f2;
}

.dropdown-menu li a {
	color: #0066cc;
}

.box {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2em;
	border: 1px solid grey;
	background-color: #0066cc;
	color: #f2f2f2;
	height: 230px;
}

.box img {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#helpdesk {
	width: 45%;
}

.box h4 {
	margin-top: 1em;
}

.main_row {
	margin-top: 3em;
}

.tile {
	width: 100%;
	display: inline-block;
	margin: 0.3em;
	color: #000;
	background-color: #e9e9e9;
	border: 1px solid #000000;
	border-radius: 10px;
	height: 100px;
}

.flowchart {
    margin-top: 2em;
}

.flow_header {
    color: #f2f2f2;
    background-color: #7EB6FF;
    width: 100%;
    border-radius: 10px;
}

.tile {
    position: relative;
}

.check {
    position: absolute;
    bottom: 10px;
    margin-left: 15%;
}

.flow_btn {
    margin-top: 5em;
}

.error_highlight {
    border: 2px solid red !important;
}

.hidden {
    display: none;
}

.err, .email_err {
    font-size: 16px;
    color: red;
}

form input, form select {
    margin-bottom: 1em;
}

form {
    margin-top: 2em;
}


.course_input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.intake_row label, .intake_row input {
    display: block;
}

.checkbox {
    margin-right: .5em !important;
    transform: scale(1.5);
}

.intake_row {
    margin-top: .5em;
    margin-bottom: 2em;
    font-size: 18px;
    border-bottom: 1px solid #d2d2d2;
}

.checkbox, .for_checkbox {
    display: inline-block !important;
}

.for_checkbox {
    margin-right: 2em;
    width: 20em;
}

#submit_complete {
    margin-top: 1em;
}

.form-heading {
    margin-bottom: 1em;
}