{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form" action="/course_form" name="details">
    <h3 class="form-heading">Additional Details<a href="{{ url_for('main') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.advisor.label }}
    {{ form.advisor(class_="form-control") }}
    {{ form.major.label }}
    {{ form.major(class_="form-control") }}
    <input id="submit" type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}