{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form" action="/content" name="details">
    <div class="col-lg-3 flowchart">
        <div class="flow_header">
            <center><p>Freshmen</p></center>
        </div>
        <div class="col-lg-6">
            <div class="tile">
                <center data-toggle="tooltip" title="This class is boring as shit and no one should ever be forced to take it."><b>COM 1103</b></center>
                <center><p>College Comp</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MCS 1047</b></center>
                <center><p>Precalc</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>INT 2103</b></center>
                <center><p>Infotech Mgmt</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MGT 2203</b></center>
                <center><p>Principles of Mgmt*</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile">
                <center><b>COM 2103</b></center>
                <center><p>Tech. & Prof. Com</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>SSC 2415</b></center>
                <center><p>Foundations of Amer. Exp.</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MKT 2013</b></center>
                <center><p>Marketing</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MCS 1224</b></center>
                <center><p>Survey of Calculus</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>xxxxxx</b></center>
                <center><p>Gen. Elective</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
        </div>
    </div>
    <div class="col-lg-3 flowchart">
        <div class="flow_header">
            <center><p>Sophmore</p></center>
        </div>
        <div class="col-sm-6">
            <div class="tile">
                <center><b>SSC 2423</b></center>
                <center><p>Development of Amer. Exp.</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>Natural Sci I</b></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MCS 2124</b></center>
                <center><p>Statistics</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>AAC 2013</b></center>
                <center><p>Intro to financial acct.</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>INT 3203</b></center>
                <center><p>Comp Networks I</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tile">
                <center><b>COM 2113</b></center>
                <center><p>Speech</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>LLT 1213</b></center>
                <center><p>World Masterpieces I</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>Natural Sci II</b></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>Natural Sci Lab</b></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>AAC 2023</b></center>
                <center><p>Intro Managerial Acct.</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>INT 2143</b></center>
                <center><p>Database Systems I</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
        </div>
    </div>
    <div class="col-lg-3 flowchart">
        <div class="flow_header">
            <center><p>Junior</p></center>
        </div>
        <div class="col-sm-6">
            <div class="tile">
                <center><b>MGT 2113</b></center>
                <center><p>Intro Business Law</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>LLT 1223</b></center>
                <center><p>World Master II</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>SSC 2303</b></center>
                <center><p>Principles of Econ.</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>FIN 3103</b></center>
                <center><p>Financial Mgmt.</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>INT 3603</b></center>
                <center><p>Human Comp. Interaction</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tile">
                <center><b>Gen. Elective</b></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>COM 3000</b></center>
                <center><p>Writing Prof. Exam</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>SSC 2403</b></center>
                <center><p>Principles of Econ. II</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MGT 3053</b></center>
                <center><p>Bus. Internship</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>INT 4423</b></center>
                <center><p>Data Science for Business</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>HRM 3023</b></center>
                <center><p>Human Resource Mgmt.</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
        </div>
    </div>
    <div class="col-lg-3 flowchart">
        <div class="flow_header">
            <center><p>Senior</p></center>
        </div>
        <div class="col-sm-6">
            <div class="tile">
                <center><b>LLT/SSC/PSY</b></center>
                <center><p>Jr/Sr Elective</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>SSC 3033</b></center>
                <center><p>International Trade</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MGT 4023</b></center>
                <center><p>Sim. & Mgmt. Science</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MGT 3113</b></center>
                <center><p>Operations Mgmt.</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>INT 4203</b></center>
                <center><p>Sys. Analysis & Design</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tile">
                <center><b>COM Jr.Sr Elective</b></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>Gen. Elective</b></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MGT 4213</b></center>
                <center><p>Strategic Mgt. & Bus. Policy</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MGT 4113</b></center>
                <center><p>Applied Decision Analysis</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
            <div class="tile">
                <center><b>MGT 3103</b></center>
                <center><p>Project Management</p></center>
                <center class="check"><input type="checkbox" value="completed"/> Completed</center>
            </div>
        </div>
    </div>
    <input id="submit" type="submit" value="Submit" class="btn btn-primary btn-lg btn-block flow_btn">
  </form>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}